/**
 * Sass variables for brands we use in the page.
 * ```scss
 * $twitter: #1da1f2;
 * $slack: #4a154b;
 * $github: #2b2b2b;
 * ```
 */

$twitter: #1da1f2;
$slack: #4a154b;
$github: #2b2b2b;